.textarea {
    margin-bottom: 20px;
}
.main {
    padding: 10px;
    border: 1px solid #DCE2EA;
}
.main h4 {
    margin: 10px 0;
    color: #666;
    font-weight: bold;
}
.mobile-hide {}
@media(max-width: 960px) {
	.mobile-hide p {
		display: none;
	}
}