html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    font-size: 16px;
    background-color: #EFF2F9;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 44px;
    color: #231815;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    margin: 0.5em 0 0.5em 0;
}
h2 {
    font-size: 40px;
    color: #231815;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    margin: 0.5em 0 0.5em 0;
}
h3 {
    font-size: 24px;
    color: #231815;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    margin: 0.5em 0 0.5em 0;
}
h4 {
    font-size: 16px;
    color: #231815;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    font-weight: 200;
}
a {
    color: #648C1A;
    text-decoration: none;
}
button {
    border: 0;
    outline: 0;
}
.button-main {
    padding: 0 10px;
    height: 60px;
    font-size: 24px;
    color: #fff;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    background-color: #648C1A;
    transition: all 0.5s;
}
.button-second {
    width: 120px;
    height: 60px;
    font-size: 24px;
    color: #fff;
    font-family: 微軟新細明體, 蘋方體, 黑體, sans-serif;
    background-color: #AEBD45;
}

.markdown-content {
	padding: 20px;
    margin: 20px 0;
    background-color: #DCE2EA;
    line-height: 1.5em;
}
.markdown-content a {
    color: #1399E9;
}
.markdown-content  ul {
    margin: 10px;
}
.markdown-content  ul li {
    margin-left: 20px; 
    list-style-type: disc;
}