.header {
    width: 100%;
    background-color: #262C36;
    height: 80px;

}
.header img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 2px solid #EFF2F9;
    float: left;
}
.header span {
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: #EFF2F9;
    background: #262C36;
}
